@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-bg: #121212;
  --text-color: #f5f5f5;
  --accent-color: coral;
  background: var(--primary-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 0;
}

body {
  background: var(--primary-bg);
  color: var(--text-color);
}

section {
  padding: 2rem 0;
}

/* NAVBAR */
.nav_fluid {
  background: transparent;
}

.nav_fluid .container {
  padding: 0;
}

.navbar_bg {
  background: var(--primary-bg);
}

.navbar .logo {
  font-size: 1rem;
  text-transform: uppercase;
  background: var(--accent-color);
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
}

.navbar .logo .logo_text {
  text-decoration: none;
  color: var(--text-color);
}

.navbar ul {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: calc(100% - 50%);
  height: 100%;
  background: var(--primary-bg);
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding-top: 70px;
  transition: all 0.3s ease-in-out;
  margin: auto 0;
  z-index: 3;
}

.navbar .nav_link {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  padding: 10px 0;
  font-weight: 700;
}

.navbar .nav_link:hover {
  color: var(--accent-color);
}

.navbar .nav_link:last-child {
  margin-right: 0;
}

.navbar .nav_link_connect {
  margin-top: 1rem;
}

.navbar .nav_link_connect .btn_connect {
  width: 100%;
  max-width: 200px;
}

.navbar .social_icons {
  display: flex;
  align-items: center;
}

.navbar .social_icons .link_social {
  margin-right: 1rem;
}

.navbar .social_icons .link_social .fa_icon {
  transition: all 0.3s ease-in-out;
}

.navbar .social_icons .link_social .fa_icon:hover {
  color: var(--accent-color);
}

.navbar .nav_link_connect {
  text-transform: uppercase;
}

#check_btn {
  opacity: 0;
}

.navbar .label_icon {
  z-index: 3;
}

.navbar .fa_icon {
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .navbar ul {
  right: 0;
}

label.label_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

input[type="checkbox"]:checked ~ .navbar label.label_overlay {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 427px) {
  .navbar .nav_link_connect .btn_connect .img-fluid {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .navbar ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: calc(100%);
    height: 100%;
    background: var(--primary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 80px;
  }
}

@media screen and (min-width: 992px) {
  /* NAVBAR */
  .navbar ul {
    position: unset;
    top: unset;
    right: unset;
    width: unset;
    max-width: unset;
    height: unset;
    background: unset;
    display: flex;
    flex-direction: row;
    padding-top: unset;
    line-height: unset;
    transition: all 0.3s ease-in-out;
    align-items: center;
  }

  .navbar label {
    display: none;
  }

  .navbar .nav_link_connect {
    margin-top: unset;
  }
}

/* HOME */
.home_section .video_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home_section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  position: relative;
}

.home_section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
}

.home_section .container {
  position: relative;
  color: var(--text-color);
}

.home_section .container .row {
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 100%;
}

.home_section .desc h1 {
  font-size: 2rem;
  font-weight: 700;
}

.home_section .desc p {
  font-weight: 300;
}

.home_section .btn_container {
  width: 100%;
}

.home_section .btn_container .link_mint button {
  margin-right: 0.5rem;
  background: var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  border: none;
  width: 130px;
  text-transform: uppercase;
}

.home_section .btn_container .link_explore button {
  margin-right: 1rem;
  background: var(--text-color);
  color: var(--primary-bg);
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  border: none;
  width: 130px;
  text-transform: uppercase;
}

/* GALLERY */
.gallery_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.gallery_section h1 {
  font-size: clamp(1.6rem, 1.4667rem + 0.5926vw, 2rem);
  text-transform: uppercase;
  font-weight: 700;
}

.gallery_section h1 span {
  color: var(--accent-color);
}

.gallery_section .wrapper {
  background: #151515;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.gallery_section .wrapper .info {
  width: 100%;
}

.gallery_section .wrapper .info .title span {
  text-transform: uppercase;
  font-weight: 700;
}

.gallery_section .wrapper .info span {
  margin-right: 1rem;
}

.gallery_section .wrapper .info button {
  border: none;
  background: var(--accent-color);
  text-transform: uppercase;
  color: var(--text-color);
  padding: 5px 50px;
}

.gallery_section .img_container .img-fluid {
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
}

.gallery_section .wrapper:hover {
  transform: translateY(-5px);
}

/* ROADMAP */
.roadmap_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.roadmap_section .desc h1 {
  font-size: clamp(1.6rem, 1.4667rem + 0.5926vw, 2rem);
  text-transform: uppercase;
  font-weight: 700;
}

.roadmap_section .desc h1 span {
  color: var(--accent-color);
}

.roadmap_section .bx {
  background: #151515;
  padding: 30px;
  height: 100%;
  min-height: 200px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.roadmap_section .bx:hover {
  transform: translateY(-5px);
}

.roadmap_section .bx h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--accent-color);
}

.roadmap_section .bx p {
  font-weight: 300;
}

.roadmap_section .bx .fa_icon {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* MANIESTO */
.manifesto_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.manifesto_section .row {
  align-items: center;
}

.manifesto_section .img_container {
  display: none;
}

.manifesto_section .desc h1 {
  font-size: 2rem;
  font-weight: 700;
  font-size: clamp(1.6rem, 1.4667rem + 0.5926vw, 2rem);
}

.manifesto_section .desc h1 span {
  color: var(--accent-color);
}

.manifesto_section .link_read {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
}

.manifesto_section .link_read span {
  color: var(--accent-color);
}

/* MINT */
.mint_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.mint_section .row {
  align-items: center;
  flex-direction: column-reverse;
}

.mint_section h1 {
  font-weight: 700;
  font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
}

.mint_section p {
  font-weight: 300;
}

.mint_section p span {
  font-weight: 700;
  font-style: italic;
}

.quantity_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity_container .fa_icon {
  color: var(--accent-color);
  cursor: pointer;
}

.quantity_container .number {
  font-weight: 700;
}

.quantity_container button {
  border: none;
  background: var(--accent-color);
  color: var(--text-color);
  font-weight: 700;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  text-transform: uppercase;
}

.mint_section .right_col {
  display: flex;
  justify-content: center;
}

.mint_section .right_col .img-fluid {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  section {
    padding: 100px 0;
  }

  /* HOME */
  .home_section .desc h1 {
    font-size: 3rem;
  }

  .home_section .btn_container .link_mint button {
    margin-right: 1rem;
    width: 300px;
  }

  .home_section .btn_container .link_explore button {
    width: 200px;
  }

  /* MANIFESTO */
  .manifesto_section .img_container {
    display: block;
  }

  /* MNINT */
  .mint_section .row {
    flex-direction: row;
  }
}
